    <section class="container-fluid eyecatch">
        <div class="container">
<%
if(id !== "index") {
%>
            <h1 class="eyecatch_header"><%= headerString %></h1>
<%
}
%>
        </div>
    </section>