@charset "utf-8";

//ゴシック指定
@mixin go() {
    font-family: "Noto Sans JP", Georgia, メイリオ, Meiryo, sans-serif;
}
//フォント・行間・文字間指定
body {
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}