@charset "utf-8";

// ============================================= *
//                                                *
//  ナビゲーションバー                               *
//                                                *
// ============================================= */
.navbar {
    &_head {
        font: {
            family: "Noto Sans JP", Georgia, メイリオ, Meiryo, sans-serif;
        }
    }
    &.navbar-light {
        .navbar-brand {
            &, &:link, &:visited {
                color: $main-color;
            }
            &:hover, &:active, &:focus {
                color: $main-color2;
            }
        }
    }
    &-light {
        .navbar-toggler {
            border-color: transparent;
            background-color: transparent;
            &[aria-expanded="true"] .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(48,48,48,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M6 6L 24 24M24 6L6 24'/%3E%3C/svg%3E");
            }
        }
    }
    .nav-link {
        &, &:link {
            color: darken($bg-color, 4%)!important;
            .fa.fa-fw {
                margin-right: 0.1rem;
            }
        }
        &:hover, &:active, &:focus {
            text-decoration: none;
            color: $bg-color!important;
        }
        &.link {
            &Twitter {
                background-color: $bc-twitter;
                &:hover, &:active, &:focus {
                    background-color: darken($bc-twitter, 8%);
                }
            }
            &Facebook {
                background-color: $bc-facebook;
                &:hover, &:active, &:focus {
                    background-color: darken($bc-facebook, 12%);
                }
            }
            &GooglePlus {
                background-color: $bc-google-plus;
                &:hover, &:active, &:focus {
                    background-color: darken($bc-google-plus, 8%);
                }
            }
            &Line {
                background-color: $bc-line;
                &:hover, &:active, &:focus {
                    background-color: darken($bc-line, 5%);
                }
            }
        }
    }
}
//mobile SafariでHonokaの下線アニメーションを実行すると2回タップしないとリンクジャンプしないSafariのバグに当たるので、アニメーションを打ち消す
body.mobileSafari { //index.jsでUAにより付与。mobile Safariバグ対策
    .navbar-nav {
        .nav-item {
            .nav-link {
                &:before {
                    display: none;
                }
            }
        }
    }
}