@charset "utf-8";

// ============================================= *
//                                               *
// Import                                        *
//                                               *
// ============================================= */
@import "assets/bootstrap/bootstrap"; //bootstrap(4.1.3)
@import "assets/lightbox"; //lightbox
@import "util/var"; //変数
@import "../../node_modules/brand-colors/dist/latest/scss/brand-colors.latest"; //ソーシャルメディアなどのブランドカラー
@import "util/typo"; //ベンダープレフィックス等のMixinモジュール
@import "util/module"; //ベンダープレフィックス等のMixinモジュール
//@import "util/bootcanceller"; //bootstrapでいつも気になるものをキャンセル
@import "util/base"; //フォント指定やIE対処など

// ============================================= *
//                                               *
// 全体                                           *
//                                               *
// ============================================= */
.upper {
    min-height: calc(100vh - (1.5rem * 2) - #{$footer-height}); //コンテンツの高さが足りなくてもフッタを最下部に表示するように //1.5rem * 2:my-4で足される上端と下端のマージンの合計
}
.fab, .fas, .far {
    &.magni1_5 {
        font-size: 1.5rem;
    }
    &.fa-ban {
        color: tomato;
    }
}
.fab {
    &.fa {
        &-internet-explorer, &-firefox, &-chrome, &-safari, &-edge {
            line-height: 2;
            margin-top: -0.7rem;
        }
        &-internet-explorer {
            color: #1db4e7;
        }
        &-firefox {
            color: $bc-firefox;
        }
        &-chrome {
            color: #4B8BF5;
        }
        &-safari {
            color: #086EDA;
        }
        &-edge {
            color: #0078D7;
        }
    }
}
.fa-li {
    vertical-align: middle;
}
span.underline {
    background: linear-gradient(transparent 50%, $bg-color3 50%);
}
/* R.I.P. IE */
#ie-buster-app {
    letter-spacing: 0;
}
// ============================================= *
//                                               *
// ヘッダ                                         *
//                                               *
// ============================================= */
//@import "util/navbar"; //ヘッダナビゲーションバーの設定。ハンバーガーメニューのアニメーションもここで。
@import "partial/header";

// ============================================= *
//                                               *
// メインコンテンツ                                 *
//                                               *
// ============================================= */
.main {
    margin: {
        left: 0;
        right: 0;
    }
    padding: {
        left: 0;
        right: 0;
    }
    background-color: $bg-color;
    color: $color;
    p {
        margin-bottom: 0.4rem;
    }
    blockquote {
        background-color: $bg-color2;
        padding: 0.6rem 1rem;
        position: relative;
        &:before {
            content: "\f10d";
            font: {
                family: "Font Awesome 5 Free";
                size: 2rem;
                weight: 900;
            }
            float: left;
            position: absolute;
            top: 0;
            left: 0.4rem;
            color: $bg-color3;
            opacity: 0.3;
        }
    }
    q, figcaption {
        font-style: oblique;
    }
    div:not(.text-center) p:not(.text-center), p:not(.card-text) {
        text-indent: 1rem;
        & .fa-fw {
            margin: {
                left: -1rem;
                right: 1rem;
            }
        }
    }
    section {
        ul {
            padding-left: 1.4rem;
        }
        ol {
            padding-left: 1.6rem;
        }
    }
    .btn.btn-primary {
        &, &:link, &:visited, &:hover, &:active, &:focus {
            color: $bg-color;
        }
    }
}

// ============================================= *
//                                               *
// フッタ                                         *
//                                               *
// ============================================= */
@import "partial/footer";

// ***** ページトップへ戻る ***** */
@import "partial/returnpagetop";