@charset "utf-8";

// ============================================== *
//                                                *
//  共通                                          *
//                                                *
// ============================================= */
@import "common";

// ============================================= *
//                                               *
//  スタイルガイド                                 *
//                                               *
// ============================================= */
@import "util/sg/sg_index";

// ============================================== *
//                                                *
//  アイキャッチ                                    *
//                                                *
// ============================================= */
@import "index/eyecatch";

// ============================================== *
//                                                *
//  メイン                                         *
//                                                *
// ============================================= */
.index .indexmain {
    figcaption {
        &:after {
            content: "(クリックで画像を拡大)";
            font-style: oblique;
        }
    }
    .topics, .aboutIe, .ieProbrem, .legacyOrModern, .security, .liabilities {
        .lead {
            &:before,&:after {
                content: "";
                display: inline-block;
                height: 1px;
                width: 3rem;
                background-color: $color;
                line-height: 1.1;
                vertical-align: middle;
            }
            &:before {
                margin-right: 0.4rem;
            }
            &:after {
                margin-left: 0.4rem;
            }
        }
    }
    .aboutIe, .download {
        background-color: $bg-color2;
    }
    .articles {
        background-color: $main-color3;
        &_header, &_contents {
            & > h2, & > p {
                color: $bg-color;
            }
        }
    }
    .btn {
        &[aria-expanded="false"] {
            @include t();
            border-radius: 0;
            .fa-plus {
                @include t();
            }
        }
        &[aria-expanded="true"] {
            @include t();
            border-radius: 24px;
            .fa-plus {
                @include t();
                transform: rotate(45deg);
            }
        }
    }
    .grid_container, .grid_container2 {
        display: grid;
    }
    .grid_container {
        @include media-breakpoint-down(lg) {
            grid: {
                gap: 0.4rem;
                template-columns: 1fr;
            }
        }
        @include media-breakpoint-up(lg) {
            grid: {
                gap: 0.8rem;
                template-columns: 1fr 1fr;
            }
        }
    }
    .grid_container2 {
        @include media-breakpoint-down(lg) {
            grid: {
                gap: 0.4rem;
                template-columns: 1fr;
            }
        }
        @include media-breakpoint-up(lg) {
            grid: {
                gap: 0.8rem;
                template-columns: 2fr 1fr;
            }
        }
        .grid_column {
            @include media-breakpoint-up(lg) {
                &:first-of-type {
                    order: 2;
                }
                &:last-of-type {
                    order: 1;
                }
            }
        }
    }
}
body:not(.mobileSafari).index .indexmain .origin {
    background-attachment: fixed;
}
body.mobileSafari.index .indexmain .origin { //index.jsでUAにより付与。mobile Safariバグ対策
    background-attachment: scroll;
}